<div class="panel panel-danger" >
    <div class="panel-heading">
        <div class="panel-title">Login</div>

    </div>

    <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <form id="loginform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="username" ng-model="user.email" placeholder="username or email">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="password" ng-model="user.password" placeholder="password">
            </div>
            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <a id="btn-login" class="btn btn-success" ng-disabled="!user.email || !user.password" ng-click="login(user)">Login  as admin </a>
                </div>
            </div>
        </form>
    </div>
</div>